@model IEnumerable<Article>
<a href="/admin/article/create" class="btn btn-success">Create</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Status</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    @{
        int counter=0;
        }
    <tbody>
        @foreach (var item in Model)
        {
            counter++;   
            <tr>
            <td>@counter</td>
            <td>@item.Id</td>
            <td>@item.Category.CategoryName</td>
            @foreach (var tag in item.ArticleTags)
                {
                    <span>@tag.Tag.TagName</span>
                }
            <td>@(item.IsActive?"aktiv":"deaktiv")</td>
            <td></td>
            <td></td>
        </tr>
        }
    </tbody>
</table>