@using System.Globalization
@model List<Article>
<div class="col-lg-12">
    <div class="row">
@foreach (var item in Model)
{
            <div class="col-lg-6 mb-3">
    
    <div class="position-relative ">
        <img class="img-fluid w-100" src="@item.PhotoUrl" style="object-fit: cover;">
        <div class="bg-white border border-top-0 p-4">
            <div class="mb-2">
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                   href="">@item.Category.CategoryName</a>
                <a class="text-body" href=""><small>@item.CreatedDate.ToString("d MMMM,yyy", new CultureInfo("az"))</small></a>
            </div>
            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="/article/detail/@item.Id/@item.SeoUrl">@item.Title</a>
            <p class="m-0">
                @Html.Raw(item.Content.Substring(0, 150))...
            </p>
        </div>
        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
            <div class="d-flex align-items-center">
                <img class="rounded-circle mr-2" src="~/img/Sevinj.jpg" width="25" height="25" alt="">
                <small>@item.CreatedBy</small>
            </div>
            <div class="d-flex align-items-center">
                <small class="ml-3"><i class="far fa-eye mr-2"></i>@item.ViewCount</small>
                <small class="ml-3"><i class="far fa-comment mr-2"></i>@item.ArticleComments.Count()</small>
            </div>
        </div>
    </div>
</div>
}
</div>
</div>

